includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - src
    - tests

  # The level 9 is the highest level
  level: 8
  ignoreErrors:
    - '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist.#'
    - '#Call to an undefined static method MarcReichel\\IGDBLaravel\\Models\\Game::foo\(\).#'
    # - '#Parameter \#1 \$string of function md5 expects string, mixed given.#'
    # - '#Cannot call method getUrl\(\) on mixed.#'
    # - '#Unsafe usage of new static#'
  excludePaths:
    # - ./*/*/FileToBeExcluded.php
  checkMissingIterableValueType: false
