includes:
  - ./vendor/larastan/larastan/extension.neon
  - phpstan-baseline.neon

parameters:
  paths:
    - src
    - tests

  # The level 9 is the highest level
  level: 8
  ignoreErrors:
    - '#Call to an undefined static method MarcReichel\\IGDBLaravel\\Models\\Game::foo\(\).#'
    - '#Unable to resolve the template type TValue in call to function collect#'
    - '#Unable to resolve the template type TKey in call to function collect#'
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
